h1 {
    text-align:center;
}
.card{
    width: 200px;
    height: 180px;
    background: #02BDA3;
    border-radius: 2%;
    margin: 20px 10px; 
}
.card .card-title{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #fff;
}
.card .card-title h4{
  margin: 10px 0;
  /* padding: 10px 0; */
}
.card .card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
}
.card .card-body p{
    font-size: 35px;
    font-weight: 900;
    padding: 10px 0;
    margin: 0;
}
