.header-container{
    background: #e53935;
    max-height: 78px;
}
.header-container .container{
    max-width: 130rem;
}
.container ul{
    margin-top: 2rem;
    margin-bottom: 0;
}
.container ul li{
    list-style: none;
    color: #fff;
}
.container ul li a{
    color: #fff;
}
.i-center{
    align-items: center;
}
.sp-bt{
    justify-content: space-between;
}
.sp-ar{
    justify-content: space-around;
}
.button.width-100{
    width: 100%;
}
tbody tr:nth-child(even){
    background: #f3f3f3;
}
.pagination{
    padding: 5px;
    display: flex;
    flex-flow: row;
    justify-content: center;
}
ul.pagination li{
    border: 1px solid #f6f6f6;
    padding: 0.75em;
    background: #E0E0E0;
    color: black;
}
ul.pagination li a{
    text-decoration: none;
    color: #000;
}
form li{
    list-style: none;
}
.container .errorlist li{
    color: red;
}
.container table ul li{
    color: #000;
}
.container table td ul{
    margin: 1rem;
}
