.main-header{
  background: #ff5252;
  display: grid;
  grid-column: 1fr 1fr 1fr 1fr;
  grid-auto-flow: column;
}
.item-right{
  grid-column: 1/4;
}
.item-left{
  grid-column: 4/5;
}

.main-header .item-right ul{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-start;
  height: 70px;
}
.main-header .item-left ul{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
  height: 70px;
}

.main-header ul li{
    margin: 0 10px;
    color: #fff;
}
.main-header ul li a{
  text-decoration: none;
  color: #fff;
}
