{% extends 'order/main.html' %}
{% load static %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="column column-33 column-offset-33">
	{% for message in messages %}
	  {{ message }}
	{% endfor %}
      </div>
    </div>
    <div class="row" style="padding-top:30px;">
      <div class="column column-33 column-offset-33">
	<form method="post">
	  {% csrf_token %}
	  <label for="username">UserName</label>
	  <input id="username"
		 type="text" name="username" placeholder="Username" />
	  <label for="">Password</label>
	  <input id="password"
		 type="password" name="password" placeholder="Password" />
	  <input type="hidden" name="next" value="{{ next }}">
	  <button type="submit" name="submit">Submit</button>
	</form>
      </div>
    </div>
  </div>
{% endblock content%}
