{% extends 'order/main.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <form method="post" id="add-expenses-form">
      {% csrf_token %}
      {{  form.as_ul }}
      <input name="submit" type="submit" value="Submit"/>
    </form>
    <a class="button" href="{% url 'expenses' %}">Cancle</a>
  </div>
{% endblock content %}
