{% extends 'order/main.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <form method="post" id="add-customer-form">
      {% csrf_token %}
      {{  form.as_ul }}
      <button type="submit" name="submit">Submit</button>
    </form>
    <a href="{% url 'customer' %}">Cancle</a>
  </div>
{% endblock content %}
