{% extends 'order/main.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="column">
	<form method="post" id="add-order-form">
	  {% csrf_token %}
	  {{  form.as_ul }}
	  {{ formstock.as_ul }}
	  <button type="submit" name="submit">ADD</button>
	</form>
      </div>
    </div>
    <div class="row">
      <div class="column">
	<a class="button" href="{% url 'product' %}">Cancle</a>
      </div>
    </div>
  </div>
{% endblock content %}
