{% extends 'order/main.html' %}
{% load static %}

{% block content %}
  <!-- Mani Container Start -->
  <div class="container">
    <!-- Customer Info Amount Header Row Start -->
    <div class="row">
      <!-- How Many Row Column Start -->
      <div class="column column-50">
	<form class="customerpp" method="get">
	  <label for="per-page">Customer Per Page:</label>
	  <select id="perpage" name="per-page" style="width:80%">
	    <option value="10">10</option>
	    <option value="50">50</option>
	    <option value="100">100</option>
	    <option value="200">200</option>
	  </select>
	  <button style="display:inline; float:right;" type="submit">GO</button>
	</form>
      </div>
      <!-- How Many Row Column End -->
      <!-- ADD New Customer Row Start -->
      <div class="column column-50" style="padding-top: 3rem;">
	<a style="width:100%;" class="button" href="{% url 'add-customer' %}">
	  ADD NEW CUSTOMER
	</a>
      </div>
      <!-- ADD New Customer Row End -->
    </div>
    <!-- Customer Info Amount Header Row End -->
    <!-- Customer Filter Header Start -->
    <div class="row">
      <div class="column">
	<div class="filter-header">
	  <form method="GET">
	    {{  myFilter.form }}
	    <button type="submit" name="submit">SEARCH</button>
	  </form>
	</div>
      </div>
    </div>
    <!-- Customer Filter Header End -->
    <!-- Customer Table Start -->
    <table>
      <thead>
	<tr>
	  <th>SN</th>
	  <th>Name</th>
	  <th>Phone</th>
	  <th>Address</th>
	  <th></th>
	  <th></th>
	</tr>
      </thead>
      <tbody>
	<!-- {{customers}} -->
	{% for customer in customers %}
	  <tr>
	    <td>{{ customer.id  }}</td>
	    <td>{{ customer.name  }}</td>
	    <td>{{ customer.phone  }}</td>
	    <td>{{ customer.address }}</td>
	    <td>
	      <a href="{% url 'profile' customer.id %}" class="button">
		PROFILE
	      </a>
	    </td>
	    <td>
	      <a href="{% url 'add-order-cus' customer.id %}" class="button">
		ADD ORDER
	      </a>
	    </td>
	  </tr>
	{% endfor %}
      </tbody>
    </table>
    <!-- Customer Table End -->
    <!-- Pageination Start -->
    <div class="row">
      <div class="column">
	{% if customers.has_other_pages %}
	  <ul class="pagination">
	    {% if customers.has_previous %}
	      <li>
		<a
		  href="?page={{ customers.previous_page_number }}">
		  &laquo;
		</a>
	      </li>
	    {% else %}
	      <li class="disabled"><span>&laquo;</span></li>
	    {% endif %}
	    {% for i in customers.paginator.page_range %}
	      {% if customers.number == i %}
		<li class="active">
		  <span>{{ i }} <span class="sr-only">(current)</span></span>
		</li>
	      {% else %}
		<li><a href="?page={{ i }}&per-page={{ perPage }}">{{ i }}</a></li>
	      {% endif %}
	    {% endfor %}
	    {% if customers.has_next %}
	      <li><a href="?page={{ customers.next_page_number }}">&raquo;</a></li>
	    {% else %}
	      <li class="disabled"><span>&raquo;</span></li>
	    {% endif %}
	  </ul>
	{% endif %}
      </div>
    </div>
    <!-- Pageination End -->
  </div>
  <!-- Main Container End -->
{% endblock content %}
