{% extends 'order/main.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet"
	href="{% static 'css/dashboard.css' %}" type="text/css"/>
{% endblock css %}

{% block content %}
  <!-- Main Container Start -->
  <div class="container">
    <!-- Product Heading Row Start -->
    <div class="row">
      <div class="column" style="padding-top:2rem;">
	<h1>Products Stock</h1>
      </div>
    </div>
    <!-- Heading Row End -->
    <!-- Products Row Start -->
    <div class="row row-wrap">
      {% for product, stock in products_stock.items %}
	<div class="column column-20">
	  <div class="card">
	    <div class="card-title">
              <h4>{{product}}</h4>
	    </div>
	    <div class="card-body">
	      <p>{{stock.0}}</p>
	      
	      <a class="button"
		 href="{% url 'add-product-stock' stock.1 %}">
		UPDATE
	      </a>
	    </div>
	  </div>
	</div>
      {% endfor %}
    </div>
    <!-- Product Row End -->
        <!-- Product Heading Row Start -->
    <div class="row">
      <div class="column" style="padding-top:2rem;">
	<h1>Products Confirmed Today</h1>
      </div>
    </div>
    <!-- Heading Row End -->
    <!-- Products Row Start -->
    <div class="row row-wrap">
      {% for product, stock in products_confirmed.items %}
	<div class="column column-20">
	  <div class="card">
	    <div class="card-title">
              <h4>{{product}}</h4>
	    </div>
	    <div class="card-body">
	      <p>{{stock}}</p>
	    </div>
	  </div>
	</div>
      {% endfor %}
    </div>
    <!-- Product Row End -->
    <!-- Product Stock Heading Start -->
    <div class="row">
      <div class="column" style="padding-top:5rem;">
	<h1>Today Order Status</h1>
      </div>
    </div>
    <!-- Product Stock Heading End -->
    <!-- Order Status Content Row Start -->
    <div class="row">
      {% for status, count in statuses.items %}
	<div class="column column-20">
	  <div class="card">
	    <div class="card-title">
              <h4>{{status|title}}</h4>
	    </div>
	    <div class="card-body" style="padding-top: 30px;">
	      <p>{{count}}</p>
	    </div>
	  </div>
	</div>
      {% endfor %}
    </div>
    <!-- Order Status Content Row End -->
  </div>
  <!-- Main Container End -->
{% endblock content %}
