{% extends 'order/main.html' %}
{% load list_for_counter %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="column">
	{% if messages %}
	  <h1 style="background: red;">
	    {% for message in messages %}
	      {{ message }}
	    {% endfor %}
	  </h1>
	{% endif %}
      </div>
    </div>
    <div class="row">
      <div class="column">
	<form method="get">
	  <label for="date">Date of Delivery</label>
	  <input name="date" type="date"/>
	  <input name="delivery_date" type="submit" value="GO"/>
	</form>
      </div>
    </div>
    {% for zone, orders in zones.items %}
      <div class="row">
	<h1 class="center">{{ zone|title }}</h1>
      </div>
      <div class="row">
	
	<table>
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Address</th>
	      <th>Items</th>
	      <th>Quantities</th>
	      <th>Per/KG</th>
	      <th>Sub-Total</th>
	      <th>Discount</th>
	      <th>Total</th>
	      <th></th>
	      <th></th>
	    </tr>
	  </thead>
	  <tbody>
	    
	    {% for order in orders.qs %}
	      <tr>
		<td>{{ order.customer.name }}</td>
		<td>{{ order.customer.address  }}</td>
		<td>
		  <ul>
		    {% for item in order.orderitem_set.all %}
		      <li> {{ item.product.name }}</li>
		    {% endfor %}
		  </ul>
		</td>
		<td>
		  <ul>
		    {% for item in order.orderitem_set.all %}
		      <li> {{ item.quantities }}</li>
		    {% endfor %}
		  </ul>
		</td>
		<td>
		  <ul>
		    {% for item in order.orderitem_set.all %}
		      <li> {{ item.selling_price }}</li>
		    {% endfor %}
		  </ul>
		</td>
		<td>{{ orders.subtotal|nextindex:forloop.counter0 }}</td>
		<td>{{ order.discount }}</td>
		<td>{{ orders.total|nextindex:forloop.counter0 }}</td>
		{% if order.is_invoice %} 
		  <td>
		    <a href="{% url 'roleback-stock' order.id %}"
		       class="button">
		      ROLE BACK
		    </a>
		  </td>
		{% else %} 
		  <td>
		    <a href="{% url 'update-stock' order.id %}"
		       class="button">
		      INVOICE
		    </a>
		  </td>
		  <td>
		    <a href="{% url 'update-order' order.id %}"
		       class="button">
		      UPDATE
		    </a>
		  </td>
		{% endif %}
	      </tr>
	    {% endfor %}

	  </tbody>
	  <tfoot>
	    <tr>
	      <td>
		<form method="GET">
		  <input name="zone" type="text" value="{{zone}}" hidden />
		  <button type="submit"
			  name="print" value="PRINT">PRINT</button>
		</form>
	      </td>
	    </tr>
	  </tfoot>
	</table>
      </div>
    {% endfor %}
    
  </div>
{% endblock content %}
