{% extends 'order/main.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="column">
	<a class="button" href="{% url 'add-expenses' %}">
	  ADD NEW EXPENSES
	</a>
      </div>
      <!-- Column End -->
    </div>
    <!-- Row End -->
    <div class="row">
      <table>
	<thead>
	  <tr>
	    <th>Date</th>
            <th>Expense Head</th>
	    <th>Total</th>
	    <th>Type</th>
	    <th></th>
	  </tr>
	</thead>
	<tbody>
	  {% for expense in expenses %}
	    <tr>
	      <td>{{ expense.date_added }}</td>
     	      <td>{{ expense.expances_head }}</td>
	      <td>{{ expense.sub_total }}</td>
	      <td>{{ expense.expances_type|title }}</td>
	      <td>
		<a class="button"
		   href="{% url 'update-expenses' expense.id %}">
		  UPDATE
		</a>
	      </td>
	    </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </div>
  <!-- Container End -->    
{% endblock content %}
