{% extends 'order/main.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet"
	     href="{% static 'css/dashboard.css' %}" type="text/css"/>
{% endblock css %}

{% block content %}
  <div class="container">
    <!-- Customer Filter Header Start -->
    <div class="row">
      <div class="column">
	<div class="filter-header">
	  <form method="GET">
	    {{  myFilter.form }}
	    <button type="submit" name="submit" value="search">SEARCH</button>
	  </form>
	</div>
      </div>
    </div>
    <!-- Customer Filter Header End -->
    <!-- Row Start -->
    <div class="row">
      <div class="column" style="margin-top:1rem;">
	<h1>Profit Calculation</h1>
      </div>
    </div>
    <!-- Row End -->
    <div class="row">
      <!-- Card Start -->
      <div class="column column-20">
	<div class="card">
	  <div class="card-title">
	    <h4> Total Sell</h4>
	  </div>
	  <div class="card-body">
	    <p>{{total_selling}}</p>
	  </div>
	</div>
      </div>
      <!-- Card End -->
      <!-- Card Start -->
      <div class="column column-20">
	<div class="card">
	  <div class="card-title">
	    <h4> Total Buy</h4>
	  </div>
	  <div class="card-body">
	    <p>{{total_buying}}</p>
	  </div>
	</div>
      </div>
      <!-- Card End -->
      <!-- Card Start -->
      <div class="column column-20">
	<div class="card">
	  <div class="card-title">
	    <h4> Total Expense</h4>
	  </div>
	  <div class="card-body">
	    <p>{{today_expnces}}</p>
	  </div>
	</div>
      </div>
      <!-- Card End -->
      <!-- Card Start -->
      <div class="column column-20">
	<div class="card">
	  <div class="card-title">
	    <h4>Total Profit</h4>
	  </div>
	  <div class="card-body">
	    <p>{{total_profit}}</p>
	  </div>
	</div>
      </div>
      <!-- Card End -->
    </div>
    <!-- Row End -->
    <!-- Row Start -->
    <div class="row">
      <div class="column">
	<h1>Today Delivery Return</h1>
      </div>
    </div>
    <!-- Row End -->
    <!-- Row Start -->
    <div class="row">
      <!-- Column Start -->
      {% for man, fund in funds.items %}
      <div class="column column-20">
	<!-- Card Start -->
	<div class="card">
	  <div class="card-title">
	    <h4>{{man}}</h4>
	  </div>
	  <div class="card-body">
	    <h5>Fund: {{fund.0.fund_amount__sum}}</h5>
	    <h5>Return: {{fund.1 }}</h5>
	  </div>
	</div>
	<!-- Card End -->
      </div>
      <!-- Column End -->
      {% endfor %}
    </div>
    <!-- Row End -->
  </div>
  <!-- Container End -->
{% endblock content %}
