{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Dashboard</title>
    <meta name="description" content="Dashboard" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}"
	  type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'css/milligram.css' %}"
	  type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}"
	  type="text/css" media="screen" />    
    {% block css %}
    {% endblock css %}
    
  </head>
  <body>
    <!-- Header Container Start -->
    <div class="header-container">
      <!-- Inner Container Start -->
      <div class="container">
	<!-- Main Row -->
	<div class="row">
	  <!-- Header Right Start -->
	  <div class="column">
	    <ul class="row sp-ar">
	      <li>
		<a href="{% url 'dashboard' %}">
		  IEMS
		</a>
	      </li>
	      {% if user.is_authenticated %}
		<li>
		  <a href="{% url 'dashboard' %}">Dashboard</a>
		</li>
		<li><a href="{% url 'product' %}">Product</a></li>
		<li><a href="{% url 'customer' %}">Customer</a></li>
		<li><a href="{% url 'order' %}">Order</a></li>
		<li><a href="{% url 'delivery-list' %}">Delivery List</a></li>
		<li><a href="{% url 'expenses' %}">Expenses</a></li>
		<li><a href="{% url 'inventory' %}">Inventory</a></li>
	      {% endif %}
	    </ul>
	  </div>
	  <!-- Header Right End -->
	  <!-- Header Left Start -->
	  <div class="column column-25" style="padding:14px;">
	    {% if user.is_authenticated %}
	      <a class="button" href="{% url 'logoutview' %}">LOGOUT</a>
	    {% endif %}
	  </div>
	  <!-- Header Left End -->
	</div>
	<!-- Header End -->
      </div>
      <!-- Inner Container End -->
    </div>
    <!-- Header Container End -->
    {% block content %}
      
    {% endblock content %}
    <!-- Main Container End -->
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block javascript %}
    {% endblock javascript %}
  </body>
</html>
