{% extends 'order/main.html' %}
{% load static %}

{% block content %}
  <!-- Main Container Start -->
  <div class="container">
    <!-- Row Start -->
    <div class="row">
      <!-- Column Start -->
      <div class="column column-50">
	<form class="orderpp" method="get">
	  <label for="per-page">Order Per Page:</label>
	  <select id="perpage" name="per-page">
	    <option value="10">10</option>
	    <option value="50">50</option>
	    <option value="100">100</option>
	    <option value="200">200</option>
	  </select>
	  <button>GO</button>
	</form>
      </div>
      <!-- Column End -->
      <!-- Column Start -->
      <div class="column" style="padding-top: 3rem;">
	<a style="width:100%;" class="button" href="{% url 'add-order' %}">
	  ADD NEW ORDER
	</a>
      </div>
      <!-- Column End -->
      <!-- Column Start -->
      
      <!-- Column End -->
    </div>
    <!-- Row End -->
    <div class="row">
      <div class="column">
	<form method="GET">
	  {{  myFilter.form }}
	  <input type="submit" value="SEARCH"/>
	</form>
      </div>
    </div>
    <!-- Table Row Start -->
    <div class="row">
      <table>
	<thead>
	  <tr>
	    <th>SN</th>
	    <th>Date</th>
	    <th>Name</th>
	    <th>Phone</th>
	    <th>Address</th>
	    <th>Status</th>
	    <th>Items</th>
	    <th>Quantities</th>
	    <th>Delivery Date</th>
	    <th>Note</th>
	    <th>Invoiced</th>
	    <th></th>
	  </tr>
	</thead>
	<tbody>
	  {% for order in orders %}
	    <tr>
	      <td>{{ order.id }}</td>
	      <td>{{ order.date_added }}</td>
	      <td>{{ order.customer.name }}</td>
	      <td>{{ order.customer.phone }}</td>
	      <td>{{ order.customer.address }}</td>
	      <td>{{ order.status }}</td>
	      <td>
		<ul>
		  {% for item in order.orderitem_set.all %}
		    <li>{{ item.product.name }} </li>
		  {% endfor %}
		</ul>
	      </td>
	      <td>
		<ul>
		  {% for item in order.orderitem_set.all %}
		    <li>{{ item.quantities }} </li>
		  {% endfor %}
		</ul>
	      </td>
	      <td>{{ order.delivery_date }}</td>
	      <td>{{ order.note  }}</td>
	      {% if order.is_invoice %}
		<td>Done</td>
		<td>
		  <a href="{% url 'roleback-stock' order.id %}"
		     class="button">
		    ROLE BACK
		  </a>
		</td>
	      {% else %}
		<td>Not Done</td>
		<td>
		  <a href="{% url 'update-order' order.id %}"
		     class="button">
		    UPDATE
		  </a>
		</td>
	      {% endif %}
	      
	    </tr>
	  {% endfor %}
	  
	</tbody>
      </table>
    </div>
    <!-- Table Row End -->
  </div>
  <!-- Main Container End -->
{% endblock content %}
