{% load static %}
{% load list_for_counter %}
<head>
  <meta charset="UTF-16">
  <style>
   @page {
     size: a4 landscape;
     @frame content_frame {          /* Content Frame */
       left: 30pt; width: 812pt; top: 90pt; height: 632pt;
     }
   }
   @media print {
     @font-face {
       font-family: SolaimanLipi;
       src: url(static/font/SolaimanLipi.ttf) format('truetype');
     }
   }
   body{ font-family: SolaimanLipi, sans-serif !important}
  </style>
</head>
<body>
  <p></p>
  <table>
    
      <h1 style="text-align:center;">{{ zone|title }}</h1>
      <thead>
	<tr>
          <th>SN</th>
	  <th>Name</th>
	  <th>Address</th>
	  <th>Items</th>
	  <th>Quantities</th>
	  <th>Per/KG</th>
	  <th>Sub-Total</th>
	  <th>Discount</th>
	  <th>Total</th>
	</tr>
      </thead>
      <tbody>
	{% for q in qs %}
	  <tr>
	    <td>{{ q.id }}</td>
	    <td>{{ q.customer.name }}</td>
	    <td>{{ q.customer.address  }}</td>
	    <td>
	      <ul>
		{% for item in q.orderitem_set.all %}
		  <li> {{ item.product.name }}</li>
		{% endfor %}
	      </ul>
	    </td>
	    <td>
	      <ul>
		{% for item in q.orderitem_set.all %}
		  <li> {{ item.quantities }}</li>
		{% endfor %}
	      </ul>
	    </td>
	    <td>
	      <ul>
		{% for item in q.orderitem_set.all %}
		  <li> {{ item.product.selling_price }}</li>
		{% endfor %}
	      </ul>
	    </td>
	    <td>{{ subtotal|nextindex:forloop.counter0 }}</td>
	    <td>{{ q.discount }}</td>
	    <td>{{ total|nextindex:forloop.counter0 }}</td> 
	  </tr>
	{% endfor %}

      </tbody>
    </table>
</body>
