{% extends 'order/main.html' %}
{% load static %}

{% block content %}
  <!-- Main Container Start -->
  <div class="container">
    <!-- Add Header Row Start -->
    <div class="row">
      <!-- Add New Product Column Start -->
      <div class="column column-50" style="padding-top: 2rem;">
	<a class="button width-100" href="{% url 'add-product' %}">
	  ADD NEW PRODUCT
	</a>
      </div>
      <!-- Add New Product Column End -->
      <!-- Add New Category Column Start -->
      <div class="column column-50" style="padding-top: 2rem;">
	<a class="button width-100" href="{% url 'add-category' %}">
	  ADD NEW CATEGORY
	</a>
      </div>
      <!-- Add New Product Column End -->
    </div>
    <!-- Add Header Row End -->
    <div class="row">
      <div class="column column-33">
	<h1 style="text-align: center;">Categories</h1>
	<table>
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Active</th>
	      <th></th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for category in categories %}
	      <tr>
		<td>{{category.name}}</td>
		{% if category.is_active %}
		  <td>Active</td>
		{% else %}
		  <td>Deactive</td>
		{% endif %}
		<td>
		  <a href="{% url 'update-category' category.id %}"
		     class="button">UPDATE</a>
		</td>
	      </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </div>
      <!-- Category Column -->
      <div class="column column-60 column-offset-10">
	<h1 style="text-align: center;">Last 5 Products Updates</h1>
	<table>
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Buying Price</th>
	      <th>Stock</th>
	      <th></th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for stock in stocks %}
	      <tr>
		<td>{{stock.product.name}}</td>
		<td>{{ stock.buying_price }}</td>
		<td>{{ stock.stock_amount }}</td>
		<td>
		  <a href="{% url 'update-product-stock' stock.id %}"
		     class="button">UPDATE</a>
		</td>
	      </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </div>
    </div>
    <!-- Category List Row End -->
    <!-- Product List Row Start -->
    <div class="row">
      <div class="column">
	<h1 style="text-align: center;">Products</h1>
	<table>
	  <thead>
	    <tr>
	      <th>SN</th>
	      <th>Name</th>
	      <th>Code</th>
	      <th>Category</th>
	      <th>Last Updated</th>
	      <th>Status</th>
	      <th></th>
	      <th></th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for product in products %}
	      <tr>
		<td>{{ product.id }}</td>
		<td>{{ product.name }}</td>
		<td>{{ product.code }}</td>
		<td>{{ product.category }}</td>
		<td>{{ product.date_updated }}</td>
		{% if product.is_active %}
		  <td>Active</td>
		{% else %}
		  <td>Deactive</td>
		{% endif %}
		<td>
		  <a href="{% url 'update-product' product.id %}"
		     class="button">UPDATE</a>
		</td>
		{% if product.is_amount %}
		<td>
		  <a class="button width-100"
		     href="{% url 'add-bulk-product' product.id %}">
		    ADD BULK STOCK
		  </a>
		{% else %}
		  <td>
		    <a class="button width-100"
		       href="{% url 'add-product-stock' product.id %}">
		      ADD STOCK
		    </a>
		  </td>
		{% endif %}
		</td>
	      </tr>
	    {% endfor %}    
	  </tbody>
	</table>
      </div>
      <!-- Product Column -->
    </div>
    <!-- Product List Row End -->
  </div>
  <!-- Main Container Start -->
  
  <!-- Product List End -->
{% endblock content %}
