{% extends 'order/main.html' %}
{% load static %}

{% block css %}
  <style>
   .row h1{
     text-align: center;
     padding-top: 10px;
   }
   .card{
     background: #f1f1f1;
     padding-top: 20px;
     margin-top: 2rem;
     display: flex;
     flex-flow: column;
   }
   .card h4{
     text-align: center;
   }
   .card-body{
     padding: 1rem;
   }
  </style>
{% endblock css %}


{% block content %}
  <!-- Start Container -->
  <div class="container">
    <!-- Start Row -->
    <div class="row">
      <!-- Start Column -->
      <div class="column column-50">
	<div class="card">
	  <div class="card-title">
	    <h4>{{customer.name}}</h4>
	  </div>
	  <div class="card-body">
	    <p>Contact Info</p>
	    <p>Phone: {{ customer.phone }}</p>
	    <p>Address: {{ customer.address }}</p>
	    <a class="button" href="{% url 'update-customer' customer.id %}">
	      UPDATE
	    </a>
	  </div>
	</div>
      </div>
      <!-- End Column -->
      <div class="column column-20">
	<div class="card">
	  <div class="card-title">
	    <h4>Total Order</h4>
	  </div>
	  <div class="card-body">
	    <h1>{{orders_count}}</h1>
	  </div>
	</div>
      </div>
      <!-- End Column -->
      <div class="column" style="padding-top: 2rem;">
	<a href="{% url 'add-order-cus' customer.id %}" class="button">
	  ADD ORDER
	</a>
      </div>
      <!-- End Column -->
    </div>
    <!-- End Row -->
    <!-- Table header Start -->
    <div class="row">
      <div class="column">
	<h1>User All Orders</h1>
      </div>
    </div>
    <!-- Table header End -->
    <!-- Table Row Start -->
    <div class="row">
      <table>
	<thead>
	  <tr>
	    <th>SN</th>
	    <th>Date</th>
	    <th>Name</th>
	    <th>Phone</th>
	    <th>Address</th>
	    <th>Status</th>
	    <th>Items</th>
	    <th>Quantities</th>
	    <th>Delivery Date</th>
	    <th>Note</th>
	    <th>Invoiced</th>
	    <th></th>
	  </tr>
	</thead>
	<tbody>
	  {% for order in orders %}
	    <tr>
	      <td>{{ order.id }}</td>
	      <td>{{ order.date_added }}</td>
	      <td>{{ order.customer.name }}</td>
	      <td>{{ order.customer.phone }}</td>
	      <td>{{ order.customer.address }}</td>
	      <td> {{ order.status }}</td>
	      <td>
		<ul>
		  {% for item in order.orderitem_set.all %}
		    <li>{{ item.product.name }} </li>
		  {% endfor %}
		</ul>
	      </td>
	      <td>
		<ul>
		  {% for item in order.orderitem_set.all %}
		    <li>{{ item.quantities }} </li>
		  {% endfor %}
		</ul>
	      </td>
	      <td>{{ order.delivery_date }}</td>
	      <td>{{ order.note  }}</td>
	      {% if order.is_invoice %}
		<td>Done</td>
		<td>
		  <a href="{% url 'roleback-stock' order.id %}"
		     class="button">
		    ROLE BACK
		  </a>
		</td>
	      {% else %}
		<td>Not Done</td>
		<td>
		  <a href="{% url 'update-order' order.id %}"
		     class="button">
		    UPDATE
		  </a>
		</td>
	      {% endif %}
	      
	    </tr>
	  {% endfor %}
	  
	</tbody>
      </table>
    </div>
    <!-- Table Row End -->
  </div>
  <!-- End Container -->
{% endblock content %}
