{% extends 'order/main.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <form method="post" id="add-order-form">
      {% csrf_token %}
      {{  form.as_ul }}
      {{  formset.as_ul }}    
      <input name="submit" type="submit" value="Submit"/>
    </form>
    <button id="update-product"/>ADD</button>
    <a class="button" href="{% url 'order' %}">Cancle</a>
  </div>
{% endblock content %}
